markdown-grid-tables
markdown-exec[ansi]
mkdocs-badges
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
termynal
matplotlib
numpy
pandas
yfinance

